ion-icon {
    font-size: 1.5rem;
    vertical-align: middle;
    margin-right: 0.5rem;

}
label{
    font-size: 1rem;
    vertical-align: middle;
    cursor:pointer;

}
.option-container{
    padding: 0.5rem;
}
.option-container :hover{
    font-weight: bold;
    


}
